.descriptionBlock
    padding: 10px
    margin: 0 auto
    width: 100%
    max-width: 1270px
    min-width: 375px
    display: flex

.wrapper
    background: #0F4264
    width: 100%
    min-width: 375px
.name
    font-weight: bold
    font-size: 36px
    width: 100%

.profileInfo
    width: 100%

.wallpaper
    width: 100%
    min-width: 375px

.logo
    width: 100%
    max-width: 205px
    min-width: 100px